body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url("images/top-banner.png");
    overflow: hidden;
    background-repeat: no-repeat;
}
header div{
    float: left;
    overflow: hidden;
    width: 40%;
    margin: 2%;
    padding: 3%;
}
header div img{
    width: 100%;
    height: auto;
}
.hire-me{
   text-decoration: none;
   border: 1px solid none;
   border-radius: 3%; 
   padding: 5px 20px;
   background-image: linear-gradient(90deg, #d8c974, orange);
   color: wheat;
   font-size: 18px;
}
.high-lighter{
    color: orange;
}

